{% extends 'travelmanager/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
    <h2>About</h2>
    <p>Travel Manager is a travel information record keeping system for both thee trip organizers and travelers.
The organizers of the trips, namely the "namagers", can record and update the trip information, including traveler personal information, visa application status, flight and hotel booking status, trip fees and so on.
The travelers who has joined the trip can use this system to conveniently store and manage detail information in one or even many trips.
The potential travelers, who have not decided wether or not to join yet, would be able to have a look at the manager and the people who has joined one specific trip. This system serve as an information scource to help them make trip decisions. <a href="https://www.djangoproject.com">Django</a>.</p>
    </div>
  </div>
{% endblock %}
