{% extends 'travelmanager/base.html' %}

{% block title %}
    Registration - {{ registration }}
{% endblock %}

{% block content %}
    <h2>{{ registration }}</h2>

    <ul class="inline">
        {% if perms.travelmanager.change_registration %}
        <li>
          <a
              href="{{ registration.get_update_url }}"
              class="button">
            Edit Registration</a></li>
        {% endif %}
        {% if perms.travelmanager.delete_registration %}
        <li>
          <a
              href="{{ registration.get_delete_url }}"
              class="button">
            Delete Registration</a></li>
        {% endif %}
    </ul>



    <section>
        <table>
            <tr>
                <th>Trip:</th>
                <td><a href="{{ registration.trip.get_absolute_url }}">{{ registration.trip }}</a></td>
            </tr>
            <tr>
                <th>Traveler:</th>
                <td><a href="{{ registration.traveler.get_absolute_url }}">{{ registration.traveler }}</a></td>
            </tr>

        </table>
    </section>

{% endblock %}

